.name-container{
    font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    background-color: white;
    width: 80%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 52%;
    bottom: auto;
    transform: translate(-50%, 0%);
    font-size: 3.5vw;
}
.section-title {
    background-color: white;
}

body {
  background-image: url("backGroundPicture1.jpg");
  background-size: cover;
}

.white-text {
    color: white;
}

.grey-text {
    color: grey;
}

.contact-info{
    text-decoration: none;
}
