.name-container{
    background-color: white;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 52%;
    bottom: auto;
    transform: translate(-50%, 0%);
    font-size: 5vw;
}
.section-title {
    background-color: white;
}

body {
  background-image: url("backGroundPicture1.jpg");
  background-size: cover;
}

.white-text {
    color: white;
}

.grey-text {
    color: grey;
}

.contact-info{
    text-decoration: none;
}
